<section class="section-padding" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">

  <mat-card class="example-card" fxFlex="90">

    <nav mat-tab-nav-bar fxFlex fxLayout="row" fxLayoutAlign="center center">
      <span class="toolbar-flex"></span>

      <mat-tab-group mat-stretch-tabs>

        <mat-tab label="Contact Us">
          <div fxLayout="column" fxLayoutAlign="start start">
            <div>
              <h2 class="mat-subheading-1 title-1"><b>Do you want to advertise in our system?</b></h2>
            </div>

            <div class="subheading-description">
              <p class="mat-body-1 title-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum
                massa est. Cras fringilla est sit amet sapien consectetur sollicitudin. Aliquam iaculis posuere
                sapien blandit finibus. Vivamus vel diam lobortis, mollis ligula at, accumsan risus. Nulla facilisi.
                Pellentesque at nunc et nisl aliquet lacinia sit amet eu odio. Aliquam a dui et sem malesuada
                ullamcorper sit amet ac ipsum. Sed at dolor feugiat, cursus lacus vitae, ultricies est. Mauris
                finibus gravida lectus in porta.</p>
              <p class="mat-body-1 title-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum
                massa est. Cras fringilla est sit amet sapien consectetur sollicitudin. Aliquam iaculis posuere
                sapien blandit finibus. Vivamus vel diam lobortis, mollis ligula at, accumsan risus. Nulla facilisi.
                Pellentesque at nunc et nisl aliquet lacinia sit amet eu odio. Aliquam a dui et sem malesuada
                ullamcorper sit amet ac ipsum. Sed at dolor feugiat, cursus lacus vitae, ultricies est. Mauris
                finibus gravida lectus in porta.</p>
              <p class="mat-body-1 title-2">Lorem ipsum: <b>email@hourent.com</b></p>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Policy / Privacy">
          <div fxLayout="column" fxLayoutAlign="start start">
            <div>
              <h2 class="mat-subheading-1 title-1"><b>Who we are?</b></h2>
            </div>

            <div class="subheading-description">
              <p class="mat-body-1 title-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum
                massa est. Cras fringilla est sit amet sapien consectetur sollicitudin. Aliquam iaculis posuere
                sapien blandit finibus. Vivamus vel diam lobortis, mollis ligula at, accumsan risus. Nulla facilisi.
                Pellentesque at nunc et nisl aliquet lacinia sit amet eu odio. Aliquam a dui et sem malesuada
                ullamcorper sit amet ac ipsum. Sed at dolor feugiat, cursus lacus vitae, ultricies est. Mauris
                finibus gravida lectus in porta.
              </p>
            </div>

            <div class="subheading-description">
              <p class="mat-body-1 title-1"><b>Last modified:</b> September 27, 2018, HouRent Team.</p>
            </div>

          </div>
        </mat-tab>

      </mat-tab-group>
    </nav>

  </mat-card>

</section>