mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.logo-container {
  width: 100%;
  /* margin-right: 40px; */
}

.logo-container-user {
  width: 100%;
  margin-right: 40px;
}

.logo {
  width: 150px;
}

mat-toolbar {
  height: 70px;
}

.button {
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
}