<div class="hero-container">

  <div class="button-container">
    <div fxFlex fxLayoutAlign="flex-end">
      <button mat-raised-button color="primary" class="button" routerLink="/signin">
        Sin In
      </button>
    </div>
  </div>

  <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
    <h2 class="mat-display-1">
      Here you can find
    </h2>
    <h1 class="mat-display-4">
      The house of your dreams
    </h1>
  </div>

  <!-- <div class="text-mid">
    <h3>Hot Girls</h3>
  </div> -->

</div>

<section class="home-section">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <h2 class="mat-subheading-2"><b>Easy &amp; Trustworthy</b></h2>
    </div>

    <div class="subheading-description">
      <p class="mat-subheading-1">Search for your perfect property.</p>
    </div>
  </div>

  <div class="girls-display" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">

    <mat-card class="blonde-girl" fxFlex="30" fxFlex.sm="80">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>House</h2>
      </mat-card-header>
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" routerLink="/house">Find more</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="brunette-girl" fxFlex="30" fxFlex.sm="80">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Flat</h2>
      </mat-card-header>
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" routerLink="/house">Find more</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="ginger-girl" fxFlex="30" fxFlex.sm="80">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Apartment</h2>
      </mat-card-header>
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" routerLink="/house">Find more</button>
      </mat-card-actions>
    </mat-card>

  </div>

</section>